@model project_sem_3_api.Models.OrderDto

@{
    Layout = null;
}

<body>
    <div style="background-color: #f8f8f8;
      font-family: 'Roboto', sans-serif;">
        <div style="margin: 0 auto;
              min-width: 500px;
              max-width: 800px;
              background-color: white;
              /*padding: 10px 20px;*/
              box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
              border-radius: 10px;">
            <div style="text-align: center; background-color: #3da000; height: 80px; vertical-align: center; border-radius: 10px 10px 0 0">
                <h3 style="font-size: 24px; color: white; margin: 0; line-height: 80px">
                    Create order successfully
                </h3>
            </div>
            <div style="margin: 30px 0">
                <table style="margin: 0 auto; border-collapse: collapse; width: 500px" ;>
                    <tbody>
                        <tr>
                            <td style="padding: 8px 0;">Customer name</td>
                            <td style="padding: 8px 0;">@Model.Name</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;">Email</td>
                            <td style="padding: 8px 0;">@Model.Email</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;">Phone</td>
                            <td style="padding: 8px 0;">@Model.Phone</td>
                        </tr>
                        <tr>
                            <td style="padding: 8px 0;">Status order</td>
                            <td style="padding: 8px 0;">@Model.StatusString</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (@Model.Status == 1)
            {
                <div style="width: 500px; margin: 0 auto">
                    <a href="@Model.LinkPaymentPaypal" style="
                                    padding: 10px 20px;
                                    border: 1px solid #FF9933;
                                    border-radius: 5px;
                                    background-image: linear-gradient(#FFF0A8, #F9B421);
                                    margin: 0 auto;
                                    display: block;
                                    max-width: 180px;
                                    position: relative;
                                    ">
                        <span style="
                              font-size: 14px;
                                          color: #505050;
                                          vertical-align: baseline;
                                          text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
                                          ">
                            Payment with
                        </span>
                        <span style="font-family: Verdana, Tahoma;
                              font-weight: bold;
                              font-size: 26px;
                              display: inline-block;
                              text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
                              font-size: 20px;
                              ">
                            <i style="color: #253b80;">Pay</i><i style="color: #179bd7;">Pal</i>
                        </span>
                    </a>
                    <small style="font-style: italic">
                        Please pay before @Model.Expired
                    </small>
                </div>
            }
            <div style="padding-bottom: 20px">
                @foreach (var ticket in @Model.TicketDtos)
                {

                    <div style="margin: 30px auto;
                  max-width: 500px;
                  max-height: 200px;
                  border-radius: 2px;
                  background-color: rgba(231, 231, 231, 0.6);
                  display: flex;
                  align-items: center;">
                        <div style="padding: 10px;">
                            <img width="100"
                                 src="https://res.cloudinary.com/dpciaiobf/image/upload/@(ticket.Code).png"
                                 alt="">
                        </div>
                        <div class="my_custom_ink" style="border-left: 2px dashed #fff;
                              height: 200px;
                              width: 1px;
                              position: relative;"></div>
                        <div style="padding: 0 26px; width: 380px">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="font-size: 0.6em;
                    font-weight: 300;
                    color: #656565;
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 1px;">
                                        Code
                                    </td>
                                    <td style="        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 4px 0 4px;">
                                        @ticket.Code
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 0.6em; font-weight: 300; color: #656565; font-family: 'Roboto', sans-serif; text-transform: uppercase; letter-spacing: 1px;">
                                        Passenger
                                    </td>
                                    <td style="font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding: 4px 0 4px;
                text-transform: uppercase;">
                                        @ticket.PassengerName
                                    </td>
                                </tr>
                            </table>
                            <div style="display: flex; justify-content: space-between;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 0.6em;
                              font-weight: 300;
                              color: #656565;
                              font-family: 'Roboto', sans-serif;
                              letter-spacing: 1px;padding: 8px 0;">
                                                From
                                            </td>
                                            <td class="tdata ml" style="padding: 8px 0;">
                                                @ticket.Source
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 0.6em;
                              font-weight: 300;
                              color: #656565;
                                text-transform: uppercase;
                              font-family: 'Roboto', sans-serif;
                              letter-spacing: 1px;padding: 8px 0;">
                                                To
                                            </td>
                                            <td class="tdata ml" style="padding: 8px 0;">
                                                @ticket.Destination
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="font-size: 0.6em;
                              font-weight: 300;
                              color: #656565;
                              font-family: 'Roboto', sans-serif;
                              text-transform: uppercase;
                              white-space: nowrap;
                              letter-spacing: 1px;padding: 8px 0;">
                                                Date
                                            </td>
                                            <td class="tdata ml" style="padding: 8px 0; white-space: nowrap;">
                                                @ticket.DepartureDay
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 0.6em;
                              font-weight: 300;
                              color: #656565;
                              text-transform: uppercase;
                              font-family: 'Roboto', sans-serif;
                              letter-spacing: 1px;padding: 8px 0;">
                                                Price
                                            </td>
                                            <td class="tdata ml" style="padding: 8px 0;">
                                                @ticket.Price
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="font-size: 0.6em;
                font-weight: 300;
                color: #656565;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;padding: 8px 0;">
                                        Train
                                    </td>
                                    <td style="font-size: 0.6em;
                font-weight: 300;
                color: #656565;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;padding: 8px 0;">
                                        Coach
                                    </td>
                                    <td style="font-size: 0.6em;
                font-weight: 300;
                color: #656565;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;padding: 8px 0;">
                                        Class
                                    </td>
                                    <td style="font-size: 0.6em;
                font-weight: 300;
                color: #656565;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                letter-spacing: 1px;padding: 8px 0;">
                                        Seat
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding: 4px 0 4px;">
                                        @ticket.CodeTrain
                                    </td>
                                    <td style="font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding: 4px 0 4px;">
                                        @ticket.TrainCarNumber
                                    </td>
                                    <td style="font-size: 0.8em;
                font-weight: 400;
                letter-spacing: 0.5px;
                padding: 4px 0 4px;">
                                        @ticket.TrainCarType
                                    </td>
                                    <td style="        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0.5px;
        padding: 4px 0 4px;">
                                        @ticket.SeatNumber
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>